body{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
}

.logoImage {
    max-width: 150px;
    height: auto;
    margin: 40px 0;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchButtonContainer {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.searchButton {
    width: 100px;
    height: 35px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid transparent; /* so that hovering doesn't move the button */
    background-color: #f0f0f0;
    cursor: pointer;
    text-align: center;
    line-height: 10px;
    height: 35px;
}

.searchButton:hover {
    border: 1px solid #bebdbd;
}

.searchInputText{
    width: 400px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    font-size: 16px;
}

.searchInputText:hover {
    border: 1px solid #aaa9a9;
}

.searchInputText:focus {
    outline: none;
    border: 1px solid #aaa9a9;
}

.imageContainer{
    gap: 5px;
    width: 80%;
    height: 50%;
}

.foundImages{
    margin: 5px;
    border: 1px solid rgb(177, 177, 177);
}

.foundImages:hover{
    border: 1px solid rgb(95, 95, 95);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.219);
  }

.fakeImages{
    margin: 5px;
    border: 1px solid transparent;
}

.fakeImages:hover{
    border: 1px solid transparent;
}

.imageRow {
    display: flex;
    justify-content: center;
}

.imageRow > * {
    flex: 1;
}